@import './base.css';

#app {
  margin: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block; /* Changed from flex to block */
    margin: 0 auto; /* Center content horizontally */
    width: 100%; /* Allow content to take full width */
  }

  #app {
    grid-template-columns: 1fr 1fr;
  }
}

strong {
  font-weight: bold;
}